html{
	background-color: black;/*cor de fundo preta*/
}

body{
	background-color: #b8adb6;/*cor de fundo cinza*/
	border: 2px solid white; /*borda solida branca*/
}

h1{
	text-align: center;/*texto alinhado ao centro*/
	text-decoration: underline;
}

#noticias{/*alterando as propriedades do id noticias*/
	margin-left: 30px;/*margem esquerda 30px*/
	margin-right: 30px;/*margem direita 30px*/
	padding: 10px;/*preenchimento de 10px no id escolhido*/
}

.noticia{/*alterando a classe notica*/
	border-bottom: 1px solid white;
	padding-left: 20px; /*preenchimento de 20px na esquerda*/
	padding-right: 20px; /*prenchimento de 20px na direita*/
}

#ultima-noticia{
	border-bottom: none; /*retira a borda da ultima noticia*/
}

p{
	text-align: justify;/*alinhamento de texto justificado*/
}

h3{
	color: yellow;/*cor de texto amarela*/
}